h1,
h3 {

  color: #3E3C4F;
  margin-bottom: 0%;
}

.collection-head {
  margin: 0px 5vw;
  margin-top: 5%;
  margin-bottom: 4%;
}

.collection-title {
  width: 70%;
  font-size: 35px;
}

.collection-name {
  font-size: 16px;
}

.card img {
  object-fit: contain;
  height: 225px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00BC85;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #FC6256;
}

input:focus+.slider {
  box-shadow: 0 0 1px #FC6256;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lock-collection i {
  position: absolute;
  left: -25%;
  color: #3E3C4F;
}


.switch-pos {
  float: right;
  top: -9vh !important;
  position: relative;

}

.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #3E3C4F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button i {
  margin-right: 10px;
  font-size: 16px;
}

.delete-span {
  position: absolute;
  right: 5vw;
}

.button-mycol {

  height: 40px;
  width: 40px;

  border: 0;
}

.button-mycol i {
  margin: 0 !important;
  color: white;
}

.availability-mycoll {
  display: grid;
  grid-template-columns: 2fr 0.4fr 0.4fr;
}

.availability-mycoll p {
  display: flex;
  align-items: end;
}


.availability-othercoll {
  display: grid;
  grid-template-columns: 2fr 0.4fr;
}


.availability-othercoll p {
  display: flex;
  align-items: end;
}

.follow-col {
  width: 100%;
  border: none;
  background-color: #3E3C4F;
  color: white;
  padding: 10px 10px;
  margin-top: 6%;
  font-size: 18px;
  cursor: pointer;
}

#background-shadow {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#box-messeage {
  width: 90%;
  background-color: #f1f0eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #3E3C4F;
  padding: 20px 10px;
}

#box-messeage h1 {
  font-size: 30px;
  margin: 10px 0px;
}

#box-messeage h3 {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px;
  font-weight: 0;
}

.cancel-btn,
.delete-btn {
  width: 50%;
}

.cancel-btn button,
.delete-btn button {
  width: 100%;
  padding: 15px 0px;
  border: 0;
  font-size: 21px;
  color: #f1f0eb;
}

.cancel-btn button {
  background-color: #3E3C4F;
}

.delete-btn button {
  background-color: #FC6256;
}

#collection-box-title {
  margin-left: 5%;
  margin-top: 15px;
}

#collection-box-title h1 {
  font-size: 40px;
  font-weight: 400;
}

#collection-box-title h3 {
  font-size: 20px;
  margin-top: 5px;
}