h1,
h3 {

  color: #3E3C4F;
  margin-bottom: 0%;
}

.collection-head {
  margin: 0px 5vw;
  margin-top: 5%;
  margin-bottom: 4%;
}

.collection-title {
  font-size: 35px;
}

.collection-name {
  font-size: 16px;
}

.card img {
  object-fit: contain;
  height: 225px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
 float: right;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00BC85;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FC6256;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FC6256;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lock-collection i  {
  position: absolute;
  left: -25%;
  color: #3E3C4F;
}


.switch-pos {
  float: right;
  top: -7vh;
  position: relative;
  
}

.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #3E3C4F;
  display: inline-flex;

}

.delete-span {
  position: absolute;
  right: 5vw;
}

.button-mycol {

  height: 40px;
  width: 40px;

  border: 0;
}

.button-mycol i {
  margin: 0 !important;
  color: white;
}

.availability-mycoll {
  display: grid;
  grid-template-columns: 2fr 0.4fr 0.4fr;
}

.availability-mycoll p {
  display: flex;
  align-items: end;
}


.availability-othercoll {
  display: grid;
  grid-template-columns: 2fr 0.4fr;
}


.availability-othercoll p {
  display: flex;
  align-items: end;
}

.follow-col {
  width: 100%;
  border: none;
  background-color: #3E3C4F;
  color: white;
  padding: 10px 10px;
  margin-top: 6%;
  font-size: 18px;
  cursor: pointer;
}
