.paragraph-everything {
    width: 90%;
    margin: auto;
    margin-top: 14%;
}

.button {
    height: auto;
}

.dimensions main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 5%;
}

.card {
    margin-bottom: 0;
}

.card img {
    background-color: whitesmoke;
    object-fit: contain;
    height: 320px;
}

.button {
    width: 100%;
    margin: 0;
}

.paragraph {
    margin-bottom: 5%;
}

.collection-add {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column
}

aside {
    background-color: #F1F0EB;
    padding: 5%;
    position: sticky;
    z-index: 1;
    margin-top: auto;
    color: #3E3C4F;
    font-size: 22px;
}

.fa-square-plus {
    font-size: 30px;
    color: #3E3C4F;
    margin-right: 20px;
}

.darker-popup {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.696);
    display: none;
    z-index: 1;
    overflow: auto;
}

.collection-group div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
}

.succesMessage {
    background-color: #00BC85;
    /*Rood (#FC6256) als het niet toegevoegd is?*/
    position: absolute;

}

.succesMessage p {
    display: none;
    /*Moet flex worden*/
    color: white;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 5%;
}

.dimensions main a {
    color: white;
    background-color: #00BC85;
    text-align: center;
    text-decoration: none;
}