.paragraph-everything {
    width: 90%;
    margin: auto;
    margin-top: 14%;
}

.button {
    height: auto;
}

.dimensions main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 5%;
}

.card {
    margin-bottom: 0;
}

.card img {
    background-color: whitesmoke;
    object-fit: contain;
    height: 320px;
}

.button {
    width: 100%;
    margin: 0;
}

.paragraph {
    margin-bottom: 5%;
}

.collection-add {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

aside {
    background-color: white;
    padding: 5%;
    position: relative;
    z-index: 1;
}

.darker-popup {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.696);
    display: none;
    z-index: 1;
}