@import url(//db.onlinewebfonts.com/c/3724ece79a634e7b5168905d01e59a64?family=Maison+Neue+Book);
@import url(//db.onlinewebfonts.com/c/d9e4167d93282285853c2410eafc4abd?family=Clearface+ITC+Pro);
@import "nav.css";
@import "login_register.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Maison Neue Book";
}

.container {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f1f0eb;
    margin: auto;
}

.button {
    height: 50px;
    width: 90%;
    margin: 10px 0;
    border: 0;
}

.button-red {
    background-color: #FC6256;
}

.button-blue {
    background-color: #3E3C4F;
}

.button a {
    text-decoration: none;
    font-family: "Maison Neue Book";
    font-size: 30px;
    color: #f1f0eb;
}

h1 {
    font-size: 40px;
    font-family: "Clearface ITC Pro";
    font-weight: 400;
}