@import url(//db.onlinewebfonts.com/c/3724ece79a634e7b5168905d01e59a64?family=Maison+Neue+Book);
@import url(//db.onlinewebfonts.com/c/d9e4167d93282285853c2410eafc4abd?family=Clearface+ITC+Pro);
@import "nav.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Maison Neue Book";
}

.container {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f1f0eb;
    margin: auto;
}

.button {
    height: 50px;
    width: 90%;
    margin: 10px 0;
    border: 0;
}

.button-red {
    background-color: #FC6256;
}

.button-blue {
    background-color: #3E3C4F;
}

.button a {
    text-decoration: none;
    font-family: "Maison Neue Book";
    font-size: 30px;
    color: #f1f0eb;
}

h1 {
    font-size: 40px;
    font-family: "Clearface ITC Pro";
    font-weight: 400;
    margin-bottom: 3%;
}

img {
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10%;

}


.greenBackground-title {
    display: table;
    background-color: #00BC85;
    padding: 10px;
    color: white;

}

.fa-circle-left,
.fa-circle-info {
    color: white;
}

.nav-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.back-button {
    padding-top: 10%;
    margin-left: 15%;
}

.fa-check {
    color: #00BC85;
}

.fa-xmark {
    color: #FC6256;
}
p{
        line-height: 1.5em;
}
