h1,
h3 {
  font-family: "Clearface ITC Pro";
  color: #3E3C4F;
  margin-bottom: 0%;
}

.collection-head {
  margin-top: 4%;
  margin: 15px 15px;
}

.collection-title {
  font-size: 35px;
}

.collection-name {
  font-size: 16px;
}



.switch {
  display: inline-block;
  width: 58px;
  height: 34px;
  position: relative;
  scale: 75%;
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E3C4F;
  border-radius: 40px;
  cursor: pointer;
}

.toggle-thumb:before {
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: .4s all ease;
}



.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked+.toggle-thumb:before {
  transform: translateX(26px);
  background-color: white;
}

.switch-pos {
  float: right;
  top: -6vh;
  position: relative;
}

.switch-icon {
  margin: 0 auto;
  z-index: 1;
  width: 16px;

}